services:
  db_efmob_test:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U \"${POSTGRES_USER}\" -d \"${POSTGRES_DB}\"'"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - efmob:/var/lib/postgresql/data
    restart: always
  
  web_efmob_test:
    build: .
    image: myzos/web_efmob_test:latest
    depends_on:
      db_efmob_test:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always

volumes:
  efmob: